/OneDrive/Dokumen/NetBeansProjects/Aplikasi_Warung_podomoro/nbproject/private/
/OneDrive/Dokumen/NetBeansProjects/Aplikasi_Warung_podomoro/build/
/Downloads/OOP-C-master/OOP-C-master/nbproject/private/
/Downloads/OOP-C-master/OOP-C-master/build/
**/*.localz
**/*.local
**/*.git
**/*.DS_Store
